# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.venv/
.venv.bak/
venv/

# Data outputs
/data/raw/
/data/processed/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Editor
.vscode/
.idea/

# Env
.env
.env.*
